# Ignorar archivos de configuración del entorno
.env

# Ignorar archivos de modelos y datos generados
*.pkl
*.csv

# Ignorar carpetas específicas
static/
__pycache__/

# Ignorar archivos de logs
*.log

# Ignorar configuraciones de IDE
.vscode/
.idea/


#ignorar archivos pesados 

full_dataset.csv
comments_processed.csv
